@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  user-select: none;
font-family: "Open Sans";
font-weight: 600;
font-size: 1.5rem;
text-align: left;
color: #fff;
margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

.hidden {
  display: none;
}

#bckgr {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

button {
    border-radius: 35px;
background: white;
font-weight: bold;
padding: 2vh;
text-align: center;
color: #0095be;
}

.hihero {
    height: 100vh;
}

.hero {
  font-size: 2vh;
  outline: none;
    border: 0.1px solid rgba(234, 235, 239, 0.79);
    position: absolute;
    top: calc(80% - 2em);
    left: calc(50% - 20em);
}

.arrow {
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    position: absolute;
    top: calc(95% - 2em);
    left: calc(50% - 5em);
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #full {
    margin-top: 100vh;
    height: 100vh;
    background-image: url(media/bckgr.png);
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .changing_screen {
    z-index: 2;
  }

 .yt {
   position: absolute;
   top: 130vh;
   left: 25%;
  z-index: 5;
  }

  .text_yt {
    padding-bottom: 40px;
  }
 
  .some {
    background-image: url(media/some.png);
    background-size: 95vw;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
   top: 100vh;
  z-index: 2;
  }

  .text_some {
font-weight: normal;
font-size: 1rem;
color: #fff;
width: 27vw;
padding-top: 150px;
padding-left: 50px;
  }

  .see {
    font-size: 1vh;
border: 2px solid #0095be;
filter: drop-shadow(0px 5px 10px rgba(0, 92, 117, 0.2));
  }

  .butt {
    padding-top: 35px;
    padding-left: 40px;
  }

.ham {
  border-radius: 0px;
  display: block;
  position: absolute;
  z-index: 10000000;
  top: 105vh;
  right: 50px;
  width: 3vw;
  height: 2.5vw;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(media/ham.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.navbar {
  z-index: 10;
  background-image: url(media/drop2.png);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100%;
  overflow: hidden;
  transform: translateY(-500%);
  transition: transform 0.2s ease;
  position: absolute;
  margin: 0;
}

.navbar ul{
font-weight: lighter;
letter-spacing: 0.07em;
text-align: center;
  margin-top: 10vw;
  font-size: 5.5vh;
  list-style: none;
  text-decoration: none;
}

.navbar a, :visited {
  list-style: none;
  text-decoration: none;
  color: white; 
}

.showClose {
  background-image: url(media/ham_closed.png);
 
}

.showNav {
  transform: translateY(0);
}

.navigation {
  z-index: 2;
  text-align-last: center;
  display: inline-flex;
}

.some_logo {
  margin-top: 3vh;
  width: 150px;
  display: flex;
  justify-content: space-between;
}


#IG {
  color: transparent;
    background: url(media/instagram.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#FB {
  color: transparent;
    background: url(media/facebook.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#YT {
  color: transparent;
    background: url(media/youtube.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
  margin-top: 3vh;
  margin-left: 50px;
  width: 15vw;
}

.hamburger {
  z-index: 999999999;
}

.front {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.changing_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu_motto {
  margin-top: 3vh;
  margin-left: 50px;
  width: 55vw;
}

.footer_text {
  font-size: 1vw;
  font-weight: 500;
  margin-top: 90vh;
  margin-left: 50px;
  color: #0095be;
}


#IGf {
  color: transparent;
    background: url(media/instagram@2x.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#FBf {
  color: transparent;
    background: url(media/facebook@2x.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#YTf {
  color: transparent;
    background: url(media/youtube@2x.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer_logo {
  width: 150px;
  display: inline-flex;
  justify-content: space-between;
  float: right;
  margin-bottom: 5px;
}